.pagination-jump-to-page-button {
  display: none !important;
}

.field-validation-error span {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 75%;
  color: var(--phoenix-form-invalid-color);
}

.table {
  font-size: 0.8rem !important;
}

.validation-summary-errors {
  font-size: 75%;
  color: var(--phoenix-form-invalid-color);
}

.jj-list-group {
  font-size: 0.8rem;
}

.nav-link.disabled {
  pointer-events: auto !important;
}

.admin-menu {
  width: 18rem;
}

nav.fix-menu {
  padding-right: 2.5rem !important;
  padding-left: 1.9rem !important;
}

nav.fix-menu .navbar-logo {
  padding-right: 11.5rem !important;
}

.form-select:disabled {
  background-color: var(--phoenix-secondary-bg) !important;
  color: var(--phoenix-quaternary-color) !important;
}

.padding-start-zero {
  padding-left: 0;
}

.nav-link:focus-visible {
  box-shadow: none;
}

.modal {
  --phoenix-modal-bg: var(--phoenix-body-bg) !important;
}

#notification-bell-circle {
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.notification-list {
  max-height: 75vh;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .notification-list {
    max-height: 40vh;
  }
}
@media (max-width: 480px) {
  .notification-list {
    max-height: 100vh;
  }
}
.img-flag {
  width: 20px;
  height: auto;
}

@media (max-width: 350px) {
  .hide-on-xs {
    display: none !important;
  }
}
.language-small-only {
  display: none !important;
}

@media (max-width: 350px) {
  .language-small-only {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.content-iframe {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  padding: calc(var(--md-sticky-top-height)) 0 0 0 !important;
}

.nav-link-top-level {
  color: var(--phoenix-navbar-top-dropdown-color) !important;
}

.nav-link-text,
.nav-link {
  font-size: 0.813rem;
}

.sub-folder > ul > .nav-item {
  padding-left: 1.5rem;
}

.sub-folder .nav-item:last-child > .nav-link {
  margin-left: 0.7rem;
}

.menu-search-indicator {
  display: none;
}

.htmx-request .menu-search-indicator {
  display: inline;
}

.htmx-request.menu-search-indicator {
  display: inline;
}

.nav-link.horizontal-active {
  background-color: rgba(var(--phoenix-primary-rgb), 0.25);
}

.menu-item-link {
  padding: 0.75rem;
}

.menu-item-link:hover {
  color: var(--phoenix-primary) !important;
  background-color: var(--phoenix-navbar-vertical-link-hover-bg);
  border-radius: 1.5rem;
}

#customer-logo {
  cursor: pointer;
}

#infinity-logo {
  width: 200px;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}

.account-settings .about {
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.user-avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}

.clickable-card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.clickable-card:hover {
  transform: scale(0.95);
}

#number {
  font-size: 200px;
  font-weight: bold;
  color: var(--phoenix-primary);
  position: relative;
  display: inline-block;
}

.tr-indicator {
  display: none;
}

.htmx-request .tr-indicator {
  display: table-row;
}

.htmx-request.tr-indicator {
  display: table-row;
}

.menu-editor-card {
  min-height: 65vh;
  max-height: 65vh;
  overflow: auto;
}

@media (max-height: 600px) {
  .menu-editor-card {
    min-height: 50vh;
    max-height: 50vh;
  }
}
@media (max-height: 400px) {
  .menu-editor-card {
    min-height: 40vh;
    max-height: 40vh;
  }
}
@media (min-height: 310px) {
  #field-details {
    height: 64vh !important;
  }
  .jj-list-group {
    height: 55vh !important;
  }
}
@media (min-height: 610px) {
  #field-details {
    height: 71vh !important;
  }
  .jj-list-group {
    height: 64vh !important;
  }
}
@media (min-height: 710px) {
  #field-details {
    height: 75vh !important;
  }
  .jj-list-group {
    height: 70vh !important;
  }
}
.jjrelative {
  position: relative;
}

#field-details {
  border-width: 0px;
  width: 100%;
  height: 75vh;
  overflow: auto;
}

.jj-list-group {
  border-width: 0px;
  width: 100%;
  overflow: auto;
}

.bs-clipboard {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 99;
}

.bs-clipboard button.btn-default {
  background-color: inherit;
}

.jjtoolbar {
  text-align: center;
  padding-top: 0.938rem;
}

.md-logo {
  width: 120px;
  margin-top: -5px;
}

.jjsortable {
  cursor: -webkit-grab;
  cursor: grab;
}

.jjsortable .ui-sortable-helper {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.jjsortable li:hover {
  background-color: #f7f7f7;
}

.jjsortable .jjsortable-icon {
  cursor: -webkit-grab;
  cursor: grab;
  text-align: right;
}

.jjsortable a .jjsortable-span {
  cursor: -webkit-grab;
  cursor: grab;
  text-align: right;
}

.jjsortable .ui-sortable-helper,
.jjsortable .ui-sortable-helper .jjsortable-icon {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.jjsortable a.active .jjsortable-icon:after,
.jjsortable a.active:hover .jjsortable-icon:after {
  font-family: "FontAwesome";
  content: "\f0da";
  display: inline-block;
  padding-right: 0;
  vertical-align: middle;
}

.jjsortable a:hover .jjsortable-icon:after {
  font-family: "FontAwesome";
  content: "\f07d";
  display: inline-block;
  padding-right: 0;
  vertical-align: middle;
}

.jj-modal-sm {
  --phoenix-modal-width: 50% !important;
}

.jj-modal-default {
  --phoenix-modal-width: 75% !important;
}

.jj-modal-lg {
  --phoenix-modal-width: 85% !important;
  --phoenix-modal-height: 5% !important;
}

.jj-modal-xl {
  --phoenix-modal-width: 95% !important;
}

.modal-iframe {
  width: 100%;
  height: 80vh;
  border: 0;
}

.offcanvas.offcanvas-wide {
  width: 1100px !important;
}

@media (max-width: 1200px) {
  .offcanvas.offcanvas-wide {
    width: 800px !important;
  }
}
@media (max-width: 992px) {
  .offcanvas.offcanvas-wide {
    width: 650px !important;
  }
}
@media (max-width: 768px) {
  .offcanvas.offcanvas-wide {
    width: 500px !important;
  }
}
@media (max-width: 576px) {
  .offcanvas.offcanvas-wide {
    width: 100% !important;
  }
}
.accordion {
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-btn-focus-box-shadow: inset 0 calc(-1*var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
  height: auto;
}

.accordion-default {
  --phoenix-accordion-active-bg: var(--bs-tertiary-bg) !important;
  --phoenix-accordion-btn-active: var(--bs-tertiary-bg) !important;
  --phoenix-accordion-btn-bg: var(--bs-tertiary-bg) !important;
  --phoenix-accordion-active: var( --bs-body-color) !important;
  --phoenix-accordion-active-color: var( --bs-body-color) !important;
  --phoenix-accordion-btn-color: var( --bs-body-color) !important;
}

.accordion-primary {
  --phoenix-accordion-active-bg: var(--phoenix-primary-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-primary-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-primary-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-primary-bg-subtle) !important;
  --phoenix-accordion-active-color: var( --phoenix-primary-text-emphasis) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-primary-bg-subtle) !important;
}

.accordion-success {
  --phoenix-accordion-active-bg: var(--phoenix-success-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-success-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-success-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-success-bg-subtle) !important;
  --phoenix-accordion-active-color: var(--phoenix-success-text-emphasis) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-success-bg-subtle) !important;
}

.accordion-danger {
  --phoenix-accordion-active-bg: var(--phoenix-danger-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-danger-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-danger-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-danger-bg-subtle) !important;
  --phoenix-accordion-active-color: var(--phoenix-danger-text-emphasis) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-danger-bg-subtle) !important;
}

.accordion-warning {
  --phoenix-accordion-active-bg: var(--phoenix-warning-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-warning-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-warning-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-warning-bg-subtle) !important;
  --phoenix-accordion-active-color: var(--phoenix-warning-text-emphasis) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-warning-bg-subtle) !important;
}

.accordion-info {
  --phoenix-accordion-active-bg: var(--phoenix-info-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-info-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-info-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-info-bg-subtle) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-info-bg-subtle) !important;
  --phoenix-accordion-active-color: var(--phoenix-info-text-emphasis) !important;
}

.accordion-dark {
  --phoenix-accordion-active-bg: var(--phoenix-dark-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-dark-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-dark-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-dark-bg-subtle) !important;
  --phoenix-accordion-active-color: var(--phoenix-dark-text-emphasis) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-dark-bg-subtle) !important;
}

.accordion-light {
  --phoenix-accordion-active-bg: var(--phoenix-light-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-light-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-light-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-light-bg-subtle) !important;
  --phoenix-accordion-active-color: var(--phoenix-light-text-emphasis) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-light-bg-subtle) !important;
}

.accordion-secondary {
  --phoenix-accordion-active-bg: var(--phoenix-secondary-bg-subtle) !important;
  --phoenix-accordion-active: var(--phoenix-secondary-text-emphasis) !important;
  --phoenix-accordion-btn-color: var(--phoenix-secondary-text-emphasis) !important;
  --phoenix-accordion-btn-active: var(--phoenix-secondary-bg-subtle) !important;
  --phoenix-accordion-active-color: var(--phoenix-secondary-text-emphasis) !important;
  --phoenix-accordion-btn-bg: var(--phoenix-secondary-bg-subtle) !important;
}

.pagination-jump-to-page-input {
  border-radius: 0;
}

.pagination-jump-to-page-button {
  border: var(--phoenix-pagination-border-width) solid var(--phoenix-pagination-border-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--phoenix-pagination-color) !important;
  margin-left: calc(var(--phoenix-border-width) * -1);
  position: relative;
  display: block;
  padding: var(--phoenix-pagination-padding-y) var(--phoenix-pagination-padding-x);
  font-size: var(--phoenix-pagination-font-size);
  text-decoration: none;
  background-color: var(--phoenix-pagination-bg) !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pagination-jump-to-page-button:hover {
  z-index: 2 !important;
  color: var(--phoenix-pagination-hover-color) !important;
  background-color: var(--phoenix-pagination-hover-bg) !important;
  border-color: var(--phoenix-pagination-hover-border-color) !important;
}

.panel-heading {
  cursor: pointer;
}

.panel-heading .panel-title {
  position: relative;
}

.panel-heading[aria-expanded=true] .panel-title:after {
  content: "\f147";
  font-family: FontAwesome;
  right: 0px;
  position: absolute;
  top: 2px;
  color: inherit;
}

.panel-heading[aria-expanded=false] .panel-title:after {
  content: "\f196";
  font-family: FontAwesome;
  right: 0px;
  position: absolute;
  top: 2px;
  color: inherit;
}

.scrollable-dropdown-menu .search-box-menu {
  max-height: 15.625rem;
  overflow-y: auto;
}

.search-box-menu {
  width: 100%;
  min-width: 18.75rem !important;
}

.card {
  margin-bottom: 1vh !important;
}

.card-header .jj-panel-title {
  display: flex;
  justify-content: space-between;
}

.card-header[aria-expanded=true] .jj-panel-title:after {
  content: "\f147";
  font-family: FontAwesome;
  color: inherit;
}

.card-header[aria-expanded=false] .jj-panel-title:after {
  content: "\f196";
  font-family: FontAwesome;
  color: inherit;
}

.card-header.bg-primary {
  color: white;
}

.tab-content {
  margin-top: 1.25rem;
}

textarea {
  resize: none;
}

.required .control-label:after {
  content: "*";
  color: red;
}

.required .col-form-label:after {
  content: "*";
  color: red;
}

.jjenable-sorting {
  cursor: pointer;
  cursor: hand;
}

.jjenable-sorting:hover {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}

.checkbox label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome and Opera */
}

/*noinspection CssReplaceWithShorthandSafely*/
input.loading-circle {
  background: url("../../images/LoadingIndicator.html") no-repeat right 0.625rem center !important;
}

a.disabled {
  cursor: not-allowed !important;
  color: gray !important;
}

.jjborder-static p.form-control-static {
  border-top: 1px solid #e6e6e6;
  text-align: center;
}

.jjborder-static {
  text-align: center;
}

.jjlabel-process span {
  margin: 5px;
}

.jjform-action .default-option {
  cursor: pointer !important;
}

.bootstrap-tagsinput {
  width: 100%;
}

.required-symbol {
  color: red;
}

.help-description {
  cursor: pointer;
  padding-left: 0.25rem;
  color: #005a86;
}

/* Data Dictionary Field and Panel */
div.dropdown-menu.open {
  max-height: 314px !important;
  overflow: hidden;
}

ul.dropdown-menu.inner {
  max-height: 260px !important;
  overflow-y: auto;
}

.bg-jjmasterdata {
  border-color: #dddddd !important;
}

/* _Menu Navbar */
.navbar .nav-pills .nav-link.active {
  color: #fff !important;
}

/* Legacy bootstrap-theme.css implementation */
a.list-group-item,
button.list-group-item {
  color: #555;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #333;
}

.page-header {
  margin: 0.063rem 0 0.938rem !important;
  border-bottom: 1px solid #eeeeee;
}

.sub-title {
  font-size: 0.8rem !important;
  font-weight: 400;
  line-height: 1;
  color: #777777;
}

/* Bootstrap 5 */
.dropdown-item > a {
  text-decoration: none;
}

/*Bootstrap select custom style*/
button.dropdown-toggle.form-control {
  border-bottom-color: rgb(206, 212, 218) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-image-repeat: stretch !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(206, 212, 218) !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-right-color: rgb(206, 212, 218) !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-top-color: rgb(206, 212, 218) !important;
  border-radius: 4px;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  box-sizing: border-box !important;
  transition-property: color, background-color, border-color, box-shadow !important;
}

.form-control.jj-icon-search {
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M416%20208c0%2045.9-14.9%2088.3-40%20122.7L502.6%20457.4c12.5%2012.5%2012.5%2032.8%200%2045.3s-32.8%2012.5-45.3%200L330.7%20376c-34.4%2025.2-76.8%2040-122.7%2040C93.1%20416%200%20322.9%200%20208S93.1%200%20208%200S416%2093.1%20416%20208zM208%20352c79.5%200%20144-64.5%20144-144s-64.5-144-144-144S64%20128.5%2064%20208s64.5%20144%20144%20144z%22%2F%3E%3C%2Fsvg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: right calc(0.375em + 0.1875rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.form-control.jj-icon-success {
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M470.6%20105.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-256%20256c-12.5%2012.5-32.8%2012.5-45.3%200l-128-128c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200L192%20338.7%20425.4%20105.4c12.5-12.5%2032.8-12.5%2045.3%200z%22%2F%3E%3C%2Fsvg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: right calc(0.375em + 0.1875rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.form-control.jj-icon-warning {
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M256%2032L0%20480H512L256%2032zm24%20160v24V328v24H232V328%20216%20192h48zM232%20384h48v48H232V384z%22%2F%3E%3C%2Fsvg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: right calc(0.375em + 0.1875rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.form-control.jj-icon-error {
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%20fill%3D%22%23333333%22%3E%3Cpath%20d%3D%22M310.6%20150.6c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L160%20210.7%2054.6%20105.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3L114.7%20256%209.4%20361.4c-12.5%2012.5-12.5%2032.8%200%2045.3s32.8%2012.5%2045.3%200L160%20301.3%20265.4%20406.6c12.5%2012.5%2032.8%2012.5%2045.3%200s12.5-32.8%200-45.3L205.3%20256%20310.6%20150.6z%22%2F%3E%3C%2Fsvg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: right calc(0.375em + 0.1875rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 2px !important;
}

/*Workaround https://github.com/flatpickr/flatpickr/issues/2575*/
.date > .form-control {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

/*JJMasterData Web*/
/*Spinner overlay*/
.fade-out {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

/* Bootstrap 5 switch */
input.form-control:read-only {
  background-color: var(--phoenix-secondary-bg);
  opacity: 1;
}

/*Custom accordion colors*/
.form-control-static {
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}

/* Backport table-sm to Bootstrap 3 */
/* Input validation error*/
.was-validated .form-control:invalid, .form-control.input-validation-error {
  border-color: var(--phoenix-form-invalid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input-group .dropdown-toggle.form-dropdown {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.dropdown-toggle.form-dropdown:after {
  content: none !important;
}

.btn-floating-action {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.alert-content {
  font-size: 0.9rem;
}

#spinner-overlay {
  position: fixed;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  z-index: 99999999;
  margin: -5px 0 0 -5px;
  padding: 5px;
  /*background: #666666 url(../img/ajax-background.png) 30% 30% repeat;*/
  opacity: 0.55;
  filter: Alpha(Opacity=55);
  cursor: progress;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-border-lg {
  width: 5rem;
  height: 5rem;
  border-width: 0.45em;
}

#spinner-overlay .ajaxMessage {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: 15px;
  width: 100px;
  height: 26px;
  display: none;
}

.jj-blink {
  animation: blink 1s ease-in infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.form-check-input {
  clear: left;
}

.form-switch.form-switch-sm .form-check-input {
  height: 1rem;
  width: 1.75rem;
  border-radius: 2rem;
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: 2.75rem;
  border-radius: 3rem;
}

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: 3.75rem;
  border-radius: 4rem;
}

.form-switch.form-switch-xl .form-check-input {
  height: 2.5rem;
  width: 4.75rem;
  border-radius: 5rem;
}

.table .table-action {
  text-align: center;
  vertical-align: middle;
  width: 3.575rem;
}

.table .jj-checkbox {
  vertical-align: middle;
  text-align: center;
  width: 3.575rem;
}

.table .jj-checkbox i {
  padding-top: 0.1875rem;
  float: right;
}

.table .jj-checkbox .dropdown-toggle {
  margin-left: 0.1875rem;
}

.table .tr-hover-action {
  cursor: pointer;
}

.table .tr-hover-action:hover td:first-child:before {
  font-family: "FontAwesome";
  content: "\f142";
  position: absolute;
  left: 0;
  font-size: 1.25em;
}

/* Table Head Fixed Style  */
table.table-fixed-header {
  border-collapse: collapse;
}

table.table-fixed-header th {
  position: -webkit-sticky;
  position: sticky;
  top: var(--md-sticky-top-height);
  z-index: 2;
  background: var(--md-sticky-top-color);
}

table.table-fixed-header th[scope=row] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
  vertical-align: top;
}

table.table-fixed-header:nth-of-type(2) th:not([scope=row]):first-child {
  left: 0;
  z-index: 3;
}

.table-fixed-header th[scope=row] + td {
  min-width: 24em;
}

.table-fixed-header th[scope=row] {
  min-width: 20em;
}

.table-gallery td {
  padding-right: 10px;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem !important;
}

:root {
  --md-sticky-top-height: 0;
}

:root:not([data-bs-theme=dark]) {
  --md-sticky-top-color: #eee !important;
}

:root, [data-bs-theme=dark] {
  --md-sticky-top-color: #242833 !important;
}

/*# sourceMappingURL=infinity.css.map */
