# Django e dependências principais
Django==5.2.4
pillow>=10.4.0

# Banco de dados
psycopg2-binary==2.9.7

# Servidor de produção
gunicorn==21.2.0

# Utilitários
python-decouple==3.8
whitenoise==6.5.0

# Desenvolvimento (opcional)
django-debug-toolbar==4.2.0